---
import ButtonInternalPage from "@components/buttons/ButtonInternalPage.astro";
import Swiper from "@components/internal-pages/Swiper.astro";

const { sectionId, textTitle, textContent, contrast, images, links } =
  Astro.props;
---

<section
  id={sectionId ? sectionId : ""}
  class=`info-block ${contrast ? "global-colors" : ""} info-block`
>
  <div class="info-container global-max-width">
    <h2 class=`${contrast ? "global-clr-accent" : ""} text-title`>
      {textTitle}
    </h2>
    <div class="text-container">
      {
        textContent.map((paragraph: string) => (
          <p style={`color: ${contrast ? "var(--clr-secondary)" : "#000000"}`}>
            {paragraph}
          </p>
        ))
      }
      {
        links && (
          <div class="links-container">
            {links.map((link: {text: string, slug: string}) => (
              <ButtonInternalPage text={link.text} slug={link.slug} />
            ))}
          </div>
        )
      }
    </div>
  </div>
  {images && <Swiper imagesArr={images} />}
</section>

<style>
  .info-block {
    background-color: var(--clr-secondary);
  }
  .info-container {
    max-width: 1513px;
    padding-inline: var(--space-x-xl);
    padding-block: var(--space-y-page-section);
    display: flex;
    /* flex-wrap: wrap; */
    gap: clamp(1rem, -12.499rem + 22.735vi, 6.5rem);
    font-size: var(--fnt-sz-internal-page);
    letter-spacing: 0.0004rem;
  }
  
  .text-title {
    color: var(--clr-primary);
    min-width: 11ch;
    max-width: 11ch;
    letter-spacing: -0.1rem;
    font-weight: var(--fnt-wg-regular);
  }

  .text-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .links-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding-top: 1.5rem;
  }
 

  @media (width < 950px) {
    .info-container {
      flex-direction: column;
    }
    .text-title {
      width: 100%;
      max-width: 100%;
    }
  }
</style>
