---
import { Image } from "astro:assets";

import BaseLayout from "@layouts/BaseLayout.astro";

import ButtonInternalPage from "@components/buttons/ButtonInternalPage.astro";
import Swiper from "@components/internal-pages/Swiper.astro";
import Text from "@components/internal-pages/Text.astro";

import { PAGES } from "@data/pagesData";

export async function getStaticPaths() {
  return PAGES.map((page) => {
    return {
      params: { pages: page.linkHref },
      props: {
        title: page.title,
        image: page.homePageMenuImg,
        sections: page.sections,
        sectionsLabels: page.sectionsLabels,
      },
    };
  });
}

const page = Astro.props;

const { sectionsLabels, sections } = page;
---

<BaseLayout title="" description="">
  <div class="page-container">
    <section id="hero">
      <h1 class="global-h1-internal-page">{page.title}</h1>

      <nav class="hero-navigation-container">
        <ul class="nav-buttons-container">
          {
            sectionsLabels.map((label) => (
              <li>
                <ButtonInternalPage
                  text={label}
                  slug={`#${label.normalize("NFD").replace(/[\u0300-\u036f]/g, "")}`}
                />
              </li>
            ))
          }
        </ul>
      </nav>

      <div class="hero-image">
        <Image
          class="global-hero-image image"
          src={page.image.imageSrc}
          alt={page.image.imageAlt}
        />
      </div>
    </section>
    {
      sections.map((content, i) => (
          <Text
            sectionId={sectionsLabels[i]
              .normalize("NFD")
              .replace(/[\u0300-\u036f]/g, "")}
            textTitle={content.title}
            textContent={content.text}
          />

          <Swiper imagesArr={content.sectionCarousel} />

          <>
            {i !== sections.length - 1 && (
              <div class="divider-container">
                <div class="divider-line" />
              </div>
            )}
          </>
      ))
    }
  </div>
</BaseLayout>

<style>
  .page-container {
    padding-bottom: 2.75rem;
    background-color: var(--clr-secondary);
  }

  .hero-navigation-container {
    height: 10.25rem;
    display: flex;
    align-items: center;
    padding-inline: var(--space-x-xl);
  }

  .nav-buttons-container {
    display: flex;
    gap: 1.1875rem;
  }

  .hero-image {
    background-color: var(--clr-secondary);
  }

  .divider-container {
    display: flex;
    justify-content: center;
  }

  .divider-line {
    height: 2px;
    width: 85vw;
    background-color: rgba(34, 34, 33, 0.2);
  }
</style>
