---
import BaseLayout from "@layouts/BaseLayout.astro";

import InfoBlock from "@components/internal-pages/InfoBlock.astro";
import HeroInternal from "@components/internal-pages/HeroInternal.astro";
import SpecialSectionHeading from "@components/internal-pages/SpecialSectionHeading.astro";

import { LA_FUNDACIO } from "@data/fundacioData";

const { title, heroImage, sections, foundersSections } = LA_FUNDACIO;
---

<BaseLayout title={title} description="" currentPath="la-fundacio">
  <HeroInternal {title} {heroImage} />

  <div class="infoblock-container">
    <InfoBlock textTitle={sections[0].title} textContent={sections[0].text} />
  </div>

  <section class="founders-section">
    <div class="founders-wrapper global-max-width">
      <SpecialSectionHeading
        title="Aquestes són les persones, empreses i entitats que van crear la"
        highlighted="Fundació BM Granollers"
      />
      {
        foundersSections.map((section, index) => (
          <>
            <h3 class="founders-heading">{section.foundersKind}</h3>
            <div class="divider-line" />
            <div class={`text-container ${index === 1 ? "empreses" : ""}`}>
              {section.text.map((column) => (
                <p>
                  {column.map((textUnit) => (
                    <>
                      {textUnit}
                      <br />
                    </>
                  ))}
                </p>
              ))}
            </div>
          </>
        ))
      }
    </div>
  </section>

  <InfoBlock textContent={sections[1].text} />
</BaseLayout>

<style>
  .infoblock-container {
    background-color: var(--clr-secondary);
  }

  .founders-section {
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
    position: relative;
  }

  .founders-wrapper {
    padding-inline: var(--space-x-xl);
    padding-block: 5.9375rem;
  }

  .founders-heading {
    font-weight: var(--fnt-wg-regular);
    color: var(--clr-accent);
  }

  .divider-line {
    height: 3px;
    background-color: var(--clr-accent);
    margin-block: 1rem;
  }

  .text-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 3.875rem;
  }

  .text-container p {
    line-height: 2;
  }

  .text-container p:nth-child(1),
  .text-container p:nth-child(2) {
    padding-right: 2rem;
  }

  .empreses {
    justify-content: normal;
  }

  .text-container.empreses p:nth-child(1) {
    padding-right: 8.3125rem;
  }

  .text-container.empreses p:nth-child(2) {
    padding-right: 0rem;
  }

  @media (width < 800px) {
    .infoblock-container {
      padding-bottom: var(--space-y-page-section);
    }
  }
</style>
