---
import BaseLayout from "@layouts/BaseLayout.astro";

import Swiper from "@components/internal-pages/Swiper.astro";
import InfoBlock from "@components/internal-pages/InfoBlock.astro";
import WorldMap from "@components/internal-pages/tornejos/WorldMap.astro";
import Button from "@components/buttons/Button.astro";
import HeroInternal from "@components/internal-pages/HeroInternal.astro";
import SectionDivider from "@components/internal-pages/SectionDivider.astro";
import ChartSection from "@components/internal-pages/ChartSection.astro";

import { TORNEJOS } from "@data/tornejosData";

import { slugify } from "@utils/index";

const { title, heroImage, sections } = TORNEJOS;

const { granollersCup, torneigEscolar, miniHandbol } = sections;

const sectionsLabels = Object.values(sections).map(
  (section) => section.infoSection.title,
);

const teamsGranollersCup = {
  text: "Descarregar quadre equips participants",
  slug: "/quadre-equips-granollers-cup.pdf",
  newTab: true,
};
---

<BaseLayout title={title} description="" currentPath="tornejos">
  <HeroInternal {title} {heroImage} {sectionsLabels} />

  <section id={slugify(sectionsLabels[0])}>
    <InfoBlock
      textTitle={granollersCup.infoSection.title}
      textContent={granollersCup.infoSection.text}
    />

    <div class="infoblock-container before-map">
      <InfoBlock
        textTitle={granollersCup.additionalSections[0].title}
        textContent={granollersCup.additionalSections[0].text}
        downloadButton={teamsGranollersCup}
        contrast
      />
    </div>

    <WorldMap />

    <div class="section-divider-container">
      <SectionDivider />
    </div>

    <div class="buttons-container">
      {
        granollersCup.linksSection.map((link) => (
          <Button text={link.linkLabel} slug={link.linkSlug} newTab={link.newTab} />
        ))
      }
    </div>

    <div class="swiper-container">
      <Swiper imagesArr={granollersCup.images} />
    </div>
  </section>

  <SectionDivider />

  <section id={slugify(sectionsLabels[1])}>
    <div class="infoblock-container">
      <InfoBlock
        textTitle={torneigEscolar.infoSection.title}
        textContent={torneigEscolar.infoSection.text}
      />
    </div>
    <ChartSection chartSection={torneigEscolar.chartSection} />

    <div class="swiper-container second-swiper">
      <Swiper imagesArr={torneigEscolar.images} />
    </div>
  </section>

  <SectionDivider />

  <section id={slugify(sectionsLabels[2])}>
    <div class="infoblock-container">
      <InfoBlock
        textTitle={miniHandbol.infoSection.title}
        textContent={miniHandbol.infoSection.text}
      />
    </div>

    <ChartSection chartSection={miniHandbol.chartSection} />

    <div class="swiper-container second-swiper">
      <Swiper imagesArr={miniHandbol.images} />
    </div>
  </section>
</BaseLayout>

<style>
  .infoblock-container {
    background-color: var(--clr-secondary);
  }

  .before-map {
    background-color: var(--clr-primary);
  }

  .section-divider-container {
    background-color: var(--clr-secondary);
    padding-top: var(--space-y-page-section);
  }

  .buttons-container {
    display: flex;
    background-color: var(--clr-secondary);
    justify-content: center;
    gap: 1rem;
    padding-block: var(--space-y-page-section);
    flex-wrap: wrap;
    padding-inline: var(--space-x-sm);
  }

  .swiper-container {
    background-color: var(--clr-secondary);
  }

  .second-swiper {
    padding-top: var(--space-y-page-section);
  }

  @media (width < 800px) {
    .infoblock-container {
      padding-bottom: var(--space-y-page-section);
    }
  }
</style>
