---
import BaseLayout from "@layouts/BaseLayout.astro";

import HeroInternal from "@components/internal-pages/HeroInternal.astro";
import InfoBlock from "@components/internal-pages/InfoBlock.astro";
import Swiper from "@components/internal-pages/Swiper.astro";
import ChartSection from "@components/internal-pages/ChartSection.astro";

import { VALORS } from "@data/valorsData";

const { title, heroImage, sections, chartSection, images } = VALORS;
---

<BaseLayout title={title} description="">
  <HeroInternal {title} {heroImage} />

  <div class="infoblock-container">
    <InfoBlock textTitle={sections.title} textContent={sections.text} />
  </div>

  <ChartSection chartSection={chartSection} />

  <section class="swiper-container global-opposite-colors">
    <Swiper imagesArr={images} />
  </section>
</BaseLayout>

<style>
  .infoblock-container {
    background-color: var(--clr-secondary);
  }

  .swiper-container {
    padding-top: var(--space-y-page-section);
  }

  @media (width < 800px) {
    .infoblock-container {
      padding-bottom: var(--space-y-page-section);
    }
  }
</style>
