---
import { Image } from "astro:assets";

import fundacioBMGLogo from "@assets/logos/fundacio-balonmano-granollers-logo.svg";
import diputacioBCNLogo from "@assets/logos/diputacio-de-barcelona-logo.svg";
import BMGLogo from "@assets/logos/balonmano-granollers-logo.svg";

import { CREDITS } from "@data/creditsData";
---

<footer>
  <section class="top-footer">
    <small>
      <dl class="credits">
        {
          CREDITS.map((credit) => (
            <div class="credit-pair">
              <dt>{credit.label}:</dt>
              <dd>{` ${credit.text}`}</dd>
            </div>
          ))
        }
      </dl>
    </small>
  </section>
  <section class="bottom-footer">
    <div class="logos-container">
      <a href="/" aria-label="Ves a la pàgina principal de la Fundació del Balonmano Granollers">
        <Image class="logo" src={fundacioBMGLogo} alt="" />
      </a>
      <a
      aria-label="Ves a la pàgina del Balonmano Granollers"
        href="https://bmgranollers.cat/cat/"
        target="_blank"
        rel="noopener nonreferrer nofollow"
      >
        <Image class="logo" src={BMGLogo} alt="" />
      </a>
      <a aria-label="Ves a la pàgina de la Diputació de Barcelona" href="https://www.diba.cat/" target="_blank" rel="noopener">
        <Image class="logo" src={diputacioBCNLogo} alt="" />
      </a>
    </div>
  </section>
</footer>

<style>
  .top-footer {
    color: var(--clr-secondary);
    height: 14.6875rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-inline: var(--space-x-m);
    padding-bottom: 3.5rem;
  }

  .credits {
    font-size: var(--fnt-sz-extra-sm);
    letter-spacing: 0.01rem;
    max-width: 77rem;
    line-height: 27px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  .credit-pair {
    display: inline-flex;
    justify-content: center;
  }

  .credit-pair dt {
    font-weight: var(--fnt-wg-regular);
    padding-right: 0.4rem;
  }

  .credit-pair::after {
    content: "|";
    margin-inline: 1.5rem;
  }

  .credit-pair:nth-child(3),
  .credit-pair:nth-child(4) {
    &::after {
      content: none;
      margin-inline: 0rem;
    }
  }

  .bottom-footer {
    height: 7.5rem;
    background-color: var(--clr-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logos-container {
    display: flex;
    justify-content: space-between;
    width: 75%;
    max-width: 61rem;
  }

  @media (width < 1289px) {
    .credit-pair:nth-child(2) {
      &::after {
        content: none;
      }
    }

    .credit-pair:nth-child(1) {
      padding-left: 1rem;
    }

    .credit-pair:nth-child(2) {
      padding-right: 1rem;
    }
  }

  @media (width < 1064px) {
    .credit-pair:nth-child(1) {
      &::after {
        content: none;
        /* margin-left: 2rem; */
      }
    }

    .credit-pair:nth-child(1) {
      padding-inline: 2rem;
    }

    .credit-pair:nth-child(2) {
      padding-inline: 0rem;
    }

    .credit-pair:nth-child(2)::after {
      content: "|";
      margin-inline: 1.5rem;
    }
  }

  @media (width < 800px) {
    .logo {
      width: 123.5px;
      height: auto;
    }
  }

  @media (width < 640px) {
    .top-footer {
      height: fit-content;
      padding-inline: var(--space-x-xl);
      padding-block: var(--space-y-page-section);
    }

    .credits,
    .credit-pair {
      text-align: start;
      display: block;
    }

    .credit-pair {
      padding-inline: 0rem !important;
    }

    .credit-pair dd {
      padding-left: var(--space-x-m);
    }
    .credit-pair::after {
      content: none !important; /* Add the decorative bar */
      margin-inline: 0rem !important; /* Space between the text and the bar */ /* Space between the bar and the next item */
    }

    .bottom-footer {
      /* height: fit-content; */
      padding-block: 4.5rem;
    }

    .logos-container {
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
      /* gap: 2rem; */
      column-gap: 2rem;
    }
  }
</style>
